{% extends 'base.html' %}

{%block 'title'%} Numbesrs generates {%endblock%}


{% block 'content' %}
    



<div class="text-center" style='margin-top:50px'>
    <p>This web page generates random numbers</p>

</div>


<div class="text-center" style='margin-top:30px'>
    {% if info.0 %}
    <p class='fs-1'> {{info.0}} </p>
    {% else %}
    <p class='fs-1'>This your password</p>

    {% endif %}

</div>

<div class="position-absolute top-50 start-50 translate-middle">
    <div>
            <p>Please select your future password settings </p>
            
    </div>
    
    
    <form method='POST'>
        {% csrf_token %}
        
        <ul> {{form.uppercase}} Uppercase   </ul>
        <ul> {{form.lowercase}} Lowercase   </ul>
        <ul> {{form.numbers}} Numbers  </ul>
        <ul> {{form.symbols}} Symbols   </ul>


        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping"></span>
            <input value = "{%if info.1 == Null%}5{% elif info.1 != 0 %}{{info.1}}{%endif%}" type="text" class="form-control" placeholder="Number of numbers" aria-label="Number of numbers" aria-describedby="addon-wrapping", name='num'>
          </div>

          <div class="d-grid gap-2" style='margin-top:20px'>
            <button class="btn btn-primary">Generate!</button>
          </div>

    </form>

{% comment %} 
    <form method='POST'>
        {% csrf_token %}

        <div class='text-center'>
            <button type="button" class="btn btn-success text" style='margin-top:20px' >Generate</button>
      </div>
    </form> {% endcomment %}

</div>

{% endblock 'content' %}
    

